@import url(https://fonts.googleapis.com/css?family=Sarabun);

:root {
  /* thank you bangkok center grocery */
  --brand-color: #FDF250;
  --accent-color: #23511e
}

html {
  font-size: 1.5em;
  line-height: 1.4;
}

@media (max-width: 768px) {
  html {
    font-size: 1em;
  }
}

body {
  font-family: 'Sarabun', Helvetica, san-serif;
  background-color: var(--brand-color);
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 5em;
  margin-top: 0;
}

.details {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0.1em;
}

.cta {
  color: var(--accent-color);
  font-size: 5em;
  text-decoration: none;
  margin-top: 0.2em;
}
